<table class = "table table-hover">
    <tr  valign="top">
        <td width = "70px">
            <a href="{{ url_for('user',username = post.author.username) }}">
                <img src="" alt="">
            </a>
        </td>
        <td>
            {% set user_link %}
            <span class = "user_popup">
                <a href="{{  url_for('user',username = post.author.username) }}">
                {{ post.author.username  }}
                </a>
            </span>
            {% endset %}
            say:{{ moment(post.timestamp).fromNow() }} <br>
            {{ post.body }}
        </td>
    </tr>
</table>

